version: "3.8"
services:
  #database
  db:
    image: mysql:latest
    container_name: database
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: blog_wp
      MYSQL_ROOT_PASSWORD: $MYSQL_PASSWORD
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
    networks:
      - devnifyblog
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    ports:
      - "${PORT:-8000}:80"
    restart: always
    env_file:
      - .env
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: $MYSQL_USER
      WORDPRESS_DB_PASSWORD: $MYSQL_PASSWORD
      WORDPRESS_DB_NAME: blog_wp
    volumes: ["./html:/var/www/html"]
    networks:
      - devnifyblog
networks:
  devnifyblog:
volumes:
  db_data:
